# Terraform local state files
*.tfstate
*.tfstate.*

# Terraform working directory
.terraform/

# Crash logs
crash.log

# CLI configuration files
.terraformrc
terraform.rc

# Sensitive variable files
*.tfvars
*.tfvars.json

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
